.container_event_list {
  /*max-width: 500px;*/

}
.event-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.event-item {
  border: 1px solid grey;
  width: 300px;
  height: 250px;
  text-align: center;
  padding: 30px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.event-item img {
  width: 300px;
  /*height: 100px;*/
}
